<div class="w-[100svw] h-[50px] bg-[#feecec]  flex justify-between items-center px-7 pt-[10px]">
  <div><i (click)="goBack()" style="font-size: 20px !important;" class="fa fa-home "></i></div>
  <div>
   <span style="font-size: 13px; font-weight: 700;">Hi, Rinshid</span></div>
  <div><span class="px-3"><i *ngIf="router.url ==='/home'" class="fa fa-search" (click)="checkAvailability()" style="font-size: 14px;  font-weight: 700;"></i></span><span><i *ngIf="router.url ==='/home'" class="fa fa-car" (click)="emitValue()" style="font-size: 14px;  font-weight: 700;"></i></span></div>
 </div>