<div class="frame " >
  <div style="width: 100%; height: 6%; background-color:  #626eac">
    <div style="width: 10vw; height: 100%;  display: flex; justify-content: center; align-items: center; ">
      <div style="margin-left: 30px; font-weight: 600; color: rgb(255, 255, 255);" (click)="goBack()">Back</div>
    </div>
  </div>
  <h1 style=" font-size: 20px ;  font-weight: 600; padding-left: 20px;"> Bookings of {{carNumber}}</h1>

  <div style="width: 100%; height: 6%; display: flex; justify-content: center; ">
    <div style="flex: 8; height: 100%; display: flex; justify-content: center; align-items: center;">
      <input
        style="width: 90%; height: 80%; background-color: rgb(255, 255, 255); border-radius: 5px; color: rgb(39, 37, 37);"
        placeholder="Search for bookings.." (keyup)="search($event)" [(ngModel)]="searchText" type="text">
    </div>
    <div style="flex: 2;  height: 100%; display: flex; justify-content: center; align-items: center;">
      <div
        style="width: 80%; height: 80%; background-color:rgb(166 245 194); border-radius: 20px;  display: flex; justify-content: center; align-items: center; margin-right: 20px;"
        (click)="addNewVehicle()">
        <div>Add +</div>
      </div>
    </div>
    <hr>
  </div>
  <div style="width: 100%; height: 82vh; overflow-y: scroll;">
    <div *ngFor="let item of orderList">
      <div class="card " style="height: 20%; width: 95%;">
        <div class="card__wrapper">
            <div class="card__title " style="flex: 3; padding-left: 10px;">
            <div class="card__wrapper">
              <div class="card__subtitle" style="color: rgb(46, 42, 42);">{{item.car}}</div>
              <div class="card__wrapper " style="justify-content: end;">
                <button style=" margin-right: 10px; padding: 5px; background-color: rgb(227, 115, 115);" (click)="remove(item.number)">Remove</button>
                <button style=" margin-right: 10px; padding: 5px; background-color: rgb(110, 136, 172);">Update</button>
              </div>  
            </div>
            <div class="card__subtitle-two">Start Date&nbsp;&nbsp; : {{item.endDate}}</div>
            <div class="card__subtitle-two">End Date &nbsp;&nbsp;&nbsp;&nbsp;: {{item.endDate}}</div>
            <div class="card__subtitle-three">Customer &nbsp;&nbsp;&nbsp;: {{item.user}}</div>
                   </div>
        </div>
      </div>
    </div>











    <div *ngIf="orderList.length === 0">
      <h1 style="text-align: center; margin-top: 20vh; color: rgb(53, 50, 50);">No bookings found (:</h1>
    </div>

  </div>
</div>

<div *ngIf="addNew" class="frame"
  style="position: absolute; width: 100%; height: 100%;  border-radius: 15px;">
  <form [formGroup]="userForm">
    <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:20px;">
      <div style="font-size:20px; margin-left: 30px; font-weight: 650; color: rgb(86, 134, 81);">Add Order</div>
      <div style="font-weight: 650; color: rgb(231, 137, 137);  margin-right:30px; margin-top:4px;"
        (click)="addNewVehicle()">Close</div>
    </div>
    <div
      style="position: relative; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;">
      <div
        style="width:100%; height: 100%; display: flex; flex-direction: column; align-items: center; gap: 30px; margin-top: 50px;"
        class="shade">
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Started at</label>
          <input type='date' name='username' formControlName="sDate"
            style="  height: 30px; width: 50vw; background-color: transparent;  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="userForm.get('sDate').hasError('required') && userForm.get('sDate').touched">
            start date is required
          </span>
        </div>
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Ending on</label>
          <input type='date' name='username' formControlName="eDate"
            style="  height: 30px; width: 50vw; background-color: transparent;  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="userForm.get('eDate').hasError('required') && userForm.get('eDate').touched">
            End date is required
          </span>
        </div>
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Customer</label>
          <input type='text' name='model' formControlName="customer"
            style="  height: 30px; width: 50vw; background-color: transparent;  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="userForm.get('customer').hasError('required') && userForm.get('customer').touched">
            Customer is required
          </span>
        </div>
        <button
          style="margin-top: 50px; height: 50px; width: 70vw; color: rgb(53, 50, 50); background-color: rgb(77, 118, 86); border-radius: 10px; font-size: 15px;"
          (click)=addOrder()>Add</button>
      </div>
    </div>
  </form>
</div>