
<div *ngIf="addNew" class="frame !bg-[#f9f2f2] "
  style="position: absolute; width: 100%; height: 100%;  border-radius: 15px;">
  <form [formGroup]="userForm">
    <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:20px;">
      <div *ngIf="!isEditMode" style="font-size:20px; margin-left: 30px; font-weight: 650; color: rgb(86, 134, 81);">Add Deal</div>
      <div *ngIf="isEditMode" style="font-size:20px; margin-left: 30px; font-weight: 650; color: rgb(86, 134, 81);">Edit Deal</div>
      <div style="font-weight: 650; color: rgb(231, 137, 137);  margin-right:30px; margin-top:4px;"
        (click)="addNewVehicle()">Close</div>
    </div>
    <div
      style="position: relative; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;">
      <div
        style="width:100%; height: 100%; display: flex; flex-direction: column; align-items: center; gap: 30px; margin-top: 50px;"
        class="shade">
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Started at</label>
          <input type='date' name='username' formControlName="sDate"
            style="  height: 30px; width: 50vw; background-color: rgb(188, 186, 186);  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="userForm.get('sDate').hasError('required') && userForm.get('sDate').touched">
            start date is required
          </span>
        </div>
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Ending on</label>
          <input type='date' name='username' formControlName="eDate"
            style="  height: 30px; width: 50vw; background-color: rgb(188, 186, 186);  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="userForm.get('eDate').hasError('required') && userForm.get('eDate').touched">
            End date is required
          </span>
        </div>
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Customer</label>
          <input type='text' name='model' formControlName="customer"
            style="  height: 30px; width: 50vw; background-color: transparent;  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="userForm.get('customer').hasError('required') && userForm.get('customer').touched">
            Customer is required
          </span>
        </div>
        <button
          style="margin-top: 50px; height: 50px; width: 70vw; color: rgb(53, 50, 50); background-color: rgb(77, 118, 86); border-radius: 10px; font-size: 15px;"
          (click)=addOrder()>{{isEditMode ? 'UpDate' : 'Add'}}</button>
      </div>
    </div>
  </form>
</div> 
<div *ngIf="!addNew">
<div class="w-[100svw] h-[100svh] !bg-[#f9f2f2] relative">
  <div>
  <app-header  class="absolute top-0"></app-header>
</div>
  <div class="w-[100svw] h-[30svh] flex justify-center text-center pt-[61px]">
    <div style="width: 87svw; height:93%;  border-radius: 15px; position: relative;" class="selectedCard">
      <span class="absolute top-4 right-4 text-[25px] font-bold" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{carNumber}}</span><br>
        <span class="absolute bottom-7 left-3  text-[25px] " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{carName}}</span><br>
        <span class="absolute bottom-4 left-3 text-[16px] text-[#f1f1f196]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{carModel}}</span>
    </div>

  </div>
  <div style="width: 100%; height: 60px; display:flex ; justify-content: center; gap: 10px; padding-top: 10px;">
    <div >
      <button (click)="addNewVehicle()" style="background-color:  #678752; border: none; width: 150px; height: 40px; padding: 5px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 10px; border-radius: 8px; font-size: 15px; font-weight: 600;">Add New Deal +</button>
    </div>
    <div>
      <button (click)="createAndDownloadPDF()" style="background-color:  #6eb2f6; border: none; width: 150px; height: 40px; padding: 5px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 10px; border-radius: 8px; font-size: 15px; font-weight: 600;">Download</button>
    </div>
  </div>
  <div style="position: relative;" class="mt-[10px]">
    <span class="absolute bottom-2 left-8  text-[14px] " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(49,48,47);">All Deals</span><br>
    <span class="absolute bottom-2 right-8 " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><i class="fa fa-refresh text-[20px] pl-[5px] pt-[5px]" (click)="getAllOrders()" style="color: rgb(40, 37, 37);" ></i></span>

  </div>
  <div class="flex gap-[7px] pt-[10px] pb-[15px] flex-nowrap overflow-y-scroll px-7 ">
    <div class="w-[76svw]">
       <input *ngIf="!textSearch" (keyup)="search($event)" [(ngModel)]="searchText" class="w-[76svw]" style="background-color: white; color: rgb(40, 37, 37); height: 37px; border-radius: 7px;" type="text" placeholder="Search.." name="search">
      <input *ngIf="textSearch" (change)="onDateChange($event)" [(ngModel)]="searchDate" type="date" class="w-[76svw]" style="background-color: white; color: rgb(40, 37, 37); height: 37px; border-radius: 7px;"  placeholder="Search.." name="search">

    </div>
    <div class="flex-1">
      <button (click)="changeSearch()" *ngIf="!textSearch" type="submit"><i class="fa fa-calendar text-[20px] pl-[5px] pt-[5px]" style="color: rgb(40, 37, 37);" (click)="changeSearch()"></i></button>
      <button (click)="changeSearch()" *ngIf="textSearch" type="submit"><i class="fa fa-list text-[20px] pl-[5px] pt-[5px]" style="color: rgb(40, 37, 37);" (click)="changeSearch()"></i></button>

    </div>
  </div>
  <div class="scroll-container !h-[56vh]  flex justify-start gap-[7px] pt-[5px] pb-[10vh] flex-nowrap overflow-y-scroll px-6 flex-col">
    <div *ngFor="let item of orderList.reverse(); let index = index;" style="min-width: 120px; min-height: 70px; background-color: rgb(255, 253, 251); border-radius: 10px; position: relative; ">
      <div  class="flex justify-between text-center">
        <div>
         <span class="absolute bottom-7 left-5 text-[12px]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(76, 72, 72);">{{index + 1}}</span>
         <span class="absolute bottom-10 left-16 text-[14px]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(36, 34, 34); font-weight: 600;">{{item.user}}</span><br>
         <span class="absolute bottom-6 left-16 text-[12px] text-[#38363696]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  color: rgb(141, 138, 138);">{{carNumber}}</span><br>
         <span class="absolute bottom-3 left-16 text-[12px] text-[#2d2a2a96]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">{{item.startDate}} to {{item.endDate}}</span>
        </div>
        <div class="flex justify-between ">
        <div><i class="fa fa-edit !mt-7 mr-2" (click)="edit(item.id)" style="color: rgb(124, 153, 233);"></i> <i class="fa fa-trash mt-7 mr-5" (click)="remove(item.id)" style="color: rgb(234, 114, 114);"></i></div> 
        </div>
      </div>
   </div>
</div>
</div>