.frame{
    width: 100svw;
    height: 100svh;
    background-image: url('https://w0.peakpx.com/wallpaper/195/989/HD-wallpaper-dodge-challenger-dodge-car-black-tailights-night-thumbnail.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}