
<div *ngIf="addNew && !isAvailabilityCheck" class="frame"
  style="position: absolute; width: 100%; height: 100%;  border-radius: 15px;">
  <form [formGroup]="carForm">
    <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:20px;">
      <div style="font-size:20px; margin-left: 30px; font-weight: 650; color: rgb(49, 50, 49);">Add Car</div>
      <div style="font-weight: 650; color: rgb(231, 137, 137); margin-right:30px; margin-top:4px;"
        (click)="addNewVehicle()">Close</div>
    </div>
    <div
      style="position: relative; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;">
      <div
        style="width:100%; height: 100%; display: flex; flex-direction: column; align-items: center; gap: 30px; margin-top: 50px;"
        class="shade">

        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Name</label>
          <input type='text' name='username' formControlName="name"
            style="  height: 30px; width: 50vw; background-color: transparent;  border-radius: 8px;color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="carForm.get('name').hasError('required') && carForm.get('name').touched">
            name is required
          </span>
        </div>
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Color</label>
          <input type='text' name='username' formControlName="color"
            style="  height: 30px; width: 50vw; background-color: transparent;  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="carForm.get('color').hasError('required') && carForm.get('color').touched">
            color is required
          </span>
        </div>
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Model</label>
          <input type='text' name='model' formControlName="model"
            style="  height: 30px; width: 50vw; background-color: transparent;  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="carForm.get('model').hasError('required') && carForm.get('model').touched">
            Model is required
          </span>
        </div>
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Car Number</label>
          <input type='text' name='username' formControlName="number"
            style="  height: 30px; width: 50vw; background-color: transparent;  border-radius: 8px; color: rgb(53, 50, 50);">
          <span style="color:red;" *ngIf="carForm.get('number').hasError('required') && carForm.get('number').touched">
            Number is required
          </span>
        </div>


        <button
          style="margin-top: 50px; height: 50px; width: 70vw; color: rgb(255, 255, 255); background-color: rgb(77, 118, 86); border-radius: 10px; font-size: 15px;"
          (click)=addVehicleToList()>Add</button>
      </div>
    </div>
  </form>
</div>


<div *ngIf="isAvailabilityCheck" class="frame"
  style="position: absolute; width: 100%; height: 100%;  border-radius: 15px;">
  <form [formGroup]="availabilityForm">
    <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:20px;">
      <div style="font-size:20px; margin-left: 30px; font-weight: 650; color: rgb(49, 50, 49);">Car Availability</div>
      <div style="font-weight: 650; color: rgb(231, 137, 137); margin-right:30px; margin-top:4px;"
        (click)="checkAvailability()">Close</div>
    </div>
    <div
      style="position: relative; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;">
      <div
        style="width:100%; height: 100%; display: flex; flex-direction: column; align-items: center; gap: 30px; margin-top: 50px;"
        class="shade">
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">Start Date</label>
          <input type='date' name='' formControlName="startDate"
            style="  height: 30px; width: 50vw; background-color: rgb(188, 186, 186);  border-radius: 8px; color: rgb(53, 50, 50);">
        </div>
        <div class='full-input'><label for='name' style="color: rgb(53, 50, 50);">End Date</label>
          <input type='date' name='username' formControlName="endDate"
            style="  height: 30px; width: 50vw; background-color: rgb(188, 186, 186);  border-radius: 8px; color: rgb(53, 50, 50);">
        </div>
        <button
          style="margin-top: 15px; height: 50px; width: 51vw; color: rgb(255, 255, 255); background-color: rgb(77, 118, 86); border-radius: 10px; font-size: 15px;"
          (click)="lookCars()">Check Availability</button>
      </div>
      <h1 style=" font-size: 18px; margin-left: 20px; position: relative;" class="owner-greating">Available Cars
      </h1>

      <div *ngIf="!availableCars.length"
        style=" height: 60px; display:flex ; justify-content: center; align-items: center;">

        <img style="width: 50vw; margin-top: 300px;" src="../../../assets/no-order.png" alt="">
      </div>
      <div *ngIf="availableCars.length" class="car-container"
        style="padding-right: 30px; height: 61vh !important; margin-top: 2vh !important; padding-bottom: 60px;">



        <div class="cardsrr" *ngFor="let item of availableCars.reverse()">


          <div style="width: 93vw; height: 126px; background-color:#FBF5BE; border-radius: 7px; position: relative;">
            <div style="display: flex; justify-content: end; margin-right: 10px; padding-top: 17px;">
              <div style="width: 40px; height: 40px; border-radius: 50%;">
                <i (click)="view(item.number)" class="fa fa-arrow-circle-right"
                  style=" font-size:35px; color:rgb(255, 255, 255);"></i>
              </div>
            </div>
            <div style="display: flex; justify-content: flex-start; padding-top: 2px; margin-right: 19px;">
              <div style=" height: 40px; margin-left: 20px; padding: 0px !important; ">
                <span
                  style="font-size: 26px; color: rgb(53, 47, 47); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 550;">{{item.name}}</span><br>
                <span style="font-size: 17px; color: rgb(71, 67, 67);">{{item.model}}</span>
                <span
                  style="position: absolute; top: 82px; right: 20px; font-size: 26px; color: rgb(63, 57, 57); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 550;">{{item.number}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div> 



<div *ngIf="!addNew && !isAvailabilityCheck">
<div class="w-[100svw] h-[100svh] !bg-[#f9f2f2] relative">
  <div>
  <app-header  (valueChanged)="addNewEvent($event)" (availabilityCheck)="checkAvailability()" class="absolute top-0"></app-header>
</div>
  <div class="w-[100svw] h-[30svh] flex justify-center text-center pt-[61px]">
    <div style="width: 87svw; height:93%;  border-radius: 15px; position: relative;" class="selectedCard">
      <span class="absolute top-4 right-4 text-[25px] font-bold" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{selectedCar?.number ? selectedCar?.number : 'KL 10 A ####'}}</span><br>
        <span class="absolute bottom-7 left-3  text-[25px] " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{selectedCar?.name ? selectedCar?.name : 'CAR ####'}}</span><br>
        <span class="absolute bottom-3 left-3 text-[16px] text-[#f1f1f196]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{selectedCar?.model ? selectedCar?.model : '20##'}}</span>
        <span class="absolute bottom-4 right-4 text-[25px] font-bold" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
          <i (click)="view(selectedCar?.number)" class="fa fa-arrow-circle-right"
        style=" font-size:35px; color:rgb(255, 255, 255);"></i>
      </span>
    </div>
  </div>
  <div style="position: relative;" class="mt-[10px]">
    <span class="absolute bottom-2 left-6  text-[14px] " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(49, 48, 47);">Cars</span><br>
    <span class="absolute bottom-2 right-6 text-[11px] text-[#0f68a796]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">See all</span>
  </div>
  <div class="scroll-container flex justify-start gap-[15px] pt-[10px] flex-nowrap overflow-x-scroll px-6">
     <div *ngIf="!vehicleList.length" style="min-width: 120px; height: 93%; border-radius: 10px; position: relative; " (click)="addNewVehicle()"  class="add-Car">
      <span class="absolute top-4 right-4 text-[25px] font-bold" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><i class="fa fa-plus"></i></span><br>
      <span class="absolute bottom-6 left-3 text-[17px]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Add car</span><br>
   </div>
    <div *ngFor="let item of vehicleList.reverse()" style="min-width: 120px; height: 93%;  border-radius: 10px; position: relative; " (click)="carSelection(item)"  class="ag-courses_item">
      <!-- <span class="absolute top-4 right-4 text-[25px] font-bold" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><i class="fa fa-car"></i></span><br> -->
      <span class="absolute bottom-6 left-3 text-[17px]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{item.name}}</span><br>
      <span class="absolute bottom-3 left-3 text-[12px] text-[#f1f1f196]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{item.model}}</span>
  </div>
  </div>
  <div style="position: relative;" class="mt-[10px]">
    <span class="absolute bottom-2 left-6  text-[14px] " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(49,48,47);">Recent of {{selectedCar.number}}</span><br>
    <span class="absolute bottom-2 right-6 text-[11px] text-[#0f68a796]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" (click)="view(selectedCar.number)">See all</span>
  </div>
  <div class="scroll-container !h-[42vh] pb-[10vh] flex justify-start gap-[7px] pt-[10px] flex-nowrap overflow-y-scroll px-6 flex-col">
    <div *ngIf="!orderList.length" style=" height: 60px; display:flex ; justify-content: center; align-items: center;">
        <h1 class="mt-24 " style="color: rgb(53, 49, 49);">Empty list :)</h1>
      </div>
     <div *ngFor="let item of orderList.slice(orderList.length - splitValue,orderList.length).reverse(); let index = index;" style="min-width: 120px; min-height: 70px; background-color: rgb(255, 253, 251); border-radius: 10px; position: relative; ">
     <div  class="flex justify-between text-center">
       <div>
        <span class="absolute bottom-7 left-5 text-[12px]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(76, 72, 72);">{{index + 1}}</span>
        <span class="absolute bottom-10 left-16 text-[14px]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(36, 34, 34); font-weight: 600;">{{item.user}}</span><br>
        <span class="absolute bottom-6 left-16 text-[12px] text-[#38363696]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  color: rgb(141, 138, 138);">{{selectedCar?.number}}</span><br>
        <span class="absolute bottom-3 left-16 text-[12px] text-[#2d2a2a96]" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">{{item.startDate}} to {{item.endDate}}</span>

       </div>
       <div  class="flex justify-between ">
       <div><i class="fa fa-trash mt-7 mr-5" (click)="remove(item.id)" style="color: rgb(234, 114, 114);"></i></div> 
       </div>
     </div>
  </div>
</div>
</div>