// .frame {
//   color: rgb(43, 40, 40);
//   width: 100svw;
//   height: 100svh;
//   // background-image: linear-gradient(to top,rgb(0 0 0), rgb(151 151 151));   
//   background-color:#ffffff;      
// }

// .form-wrapper {
//     margin: 15px;
//   }
//   .full-input {
//     display: inline-block;
//     padding: 1px;
//     border: 2px solid rgb(193, 193, 193);
//     border-radius: 8px;
//   }
//   input {
//     outline: none;
//     border: none;
//     display:block;
//     line-height: 1.2em;
//     font-size: 14pt;
//   }
//   label {
//     padding-left: 5px;
//     display: block;
//     font-size: 14px;
//     color: rgb(255, 255, 255);
//   }

  
// .navigators{
//   width: 100%;
//   height: 35%;
//   margin-right: 5px;
// }


// .card {
//   --main-color: #453f3f;
//   --sub-color: #ccc;
//   --bg-color: #ffffff;
//   --accent-color: #BC8D66;
//   position: relative;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   width: 270px;
//   padding: 7px;
//   border-radius: 5px;
//   display: flex;
//   flex-direction: column;
//   gap: 5px;
//   background-color: var(--bg-color);
//   transition: all 0.2s;
//   cursor: pointer;
//   box-shadow: 0px 0px 5px -1.5px #000;
//   margin: 10px;
// }

// .card::before {
//   content: '';
//   width: 99%;
//   height: 99%;
//   background: var(--sub-color);
//   position: absolute;
//   z-index: -1;
//   top: 1px;
//   left: 1px;
//   border-radius: 25px;
//   transition: all 0.3s;
// }

// .card__wrapper {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }

// .card__img {
//   width: 100%;
// }

// .card__title {
//   color: var(--main-color);
//   font-weight: 900;
//   font-size: 25px;
// }

// .card__subtitle {
//   color: var(--sub-color);
//   font-weight: 600;
//   font-size: 20px;
// }

// .card__subtitle-two {
//   color: var(--sub-color);
//   font-weight: 600;
//   font-size: 18px;
// }

// .card__subtitle-three {
//   color: var(--sub-color);
//   font-weight: 600;
//   font-size: 16px;
// }

// .card__subtitle-four {
//   color: var(--sub-color);
//   font-weight: 500;
//   font-size: 13px;
// }


// .card__icon {
//   width: 40px;
//   height: 40px;
//   transform: rotate(-45deg);
//   transition: all 0.3s;
// }

// .card__icon svg {
//   width: 100%;
//   height: 100%;
// }

// .card__icon g {
//   fill: var(--main-color);
// }

// .card__icon circle, polyline, line {
//   stroke: var(--main-color);
// }

// .card:hover .card__icon {
//   transform: rotate(0);
// }

// .card:hover .card__icon circle, .card:hover .card__icon polyline, .card:hover .card__icon line {
//   stroke: var(--accent-color);
// }



// /* remove svg from class ="card__img" and last styles below css code before use */
// .st1 {
//   fill: #fff
// }

// .st2 {
//   fill: none;
//   stroke: #242c88;
//   stroke-width: 2;
//   stroke-linecap: round;
//   stroke-linejoin: round;
//   stroke-miterlimit: 10
// }

// .st7 {
//   fill: #589fff
// }

// .st9 {
//   fill: #bc8d66
// }

// .st15,.st16 {
//   opacity: .4;
//   fill: #242c88
// }

// .st16 {
//   opacity: .2
// }

// .st18 {
//   fill: #ffc408
// }

// .st53 {
//   fill: none;
//   stroke: #242c88;
//   stroke-width: 1.848;
//   stroke-linecap: round;
//   stroke-linejoin: round;
//   stroke-miterlimit: 10
// }








.frame {
  color: rgb(43, 40, 40);
  width: 100svw;
  height: 100svh;
  // background-image: linear-gradient(to top,rgb(0 0 0), rgb(151 151 151));   
  background-color: #f9f2f2;
}

.form-wrapper {
    margin: 15px;
  }
  .full-input {
    display: inline-block;
    padding: 1px;
    border: 2px solid rgb(193, 193, 193);
    border-radius: 8px;
  }
  input {
    outline: none;
    border: none;
    display:block;
    line-height: 1.2em;
    font-size: 14pt;
  }
  label {
    padding-left: 5px;
    display: block;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }

 


.scroll-container {
  width: 100%;
  height: 18vh;
  overflow-x: scroll;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.ag-courses_item:nth-child(1n) {
  // background-color: #f0d6c3;
    background-image: url('../../../assets/car1.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.ag-courses_item:nth-child(2n) {
  // background-color: #ccf3d4;
  background-image: url('../../../assets/car2.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.ag-courses_item:nth-child(3n) {
  // background-color: #c7caf4;
  background-image: url('../../../assets/car3.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.ag-courses_item:nth-child(4n) {
  // background-color: #dac1f2;
  background-image: url('../../../assets/car4.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.ag-courses_item:nth-child(5n){
  // background-color: #eeb4d7;
  background-image: url('../../../assets/car5.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.ag-courses_item:nth-child(6n){
  // background-color: #bfbef3;
  background-image: url('../../../assets/car6.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-Car{
  background-image: url('../../../assets/car1.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.selectedCard{
  // background-image: linear-gradient(to top,rgb(168, 179, 231), rgb(235, 134, 231));  
  background-image: url('../../../assets/cover.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}